@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.signup {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
  .signup input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.signup input[type=text],
.signup input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.signup input[type=text]:hover {
  border-color: #df6d16;
  outline: none;
  transition: all .2s ease-in-out;
} 

.signup input[type=submit] {
  border: none;
  background: #ad4d02;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.signup input[type=submit]:hover {
  background: #df6d16;  
}

  .signup h2 {
    margin: 20px 0 0; 
    color: #df6d16;
    font-size: 28px;
  }

.signup p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .signup h2,
  .signup p,
  .signup a {
    text-align: center;    
  }

.signup a {
  text-decoration: none;  
  font-size: .8em;
}

.signup a:visited {
  color: inherit;
}

.signup a:hover {
  text-decoration: underline;
}